[submodule "src/skills/jubilee"]
	path = src/skills/jubilee
	url = https://github.com/Jubilee-Protocol/Openclaw-Skill-Jubilee.git

[submodule "jubilee-cloud"]
	path = jubilee-cloud
	url = https://github.com/Jubilee-Protocol/jubilee-cloud.git
